<h1>Would you like to try a quiz?</h1>
<form action="/quizzes/show" method="get">
  <select >
    <option name="math" >math</option>
    <option name="geography">geography</option>
  </select>
  <input type="submit" value="start quiz">
</form>

