<h1>Welcome to the Login Page</h1>

<h2 class="section_header">Teacher Login</h2>
<form id="teacher_login" action="/teachers" method="post">
  <input type="text" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <input type="submit" name="login as teacher">
</form>

<h2 class="section_header">Student Login</h2>
<form id="student_login" action="/students" method="post">
  <input type="text" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <input type="submit" name="login as student">
</form>
