<h1>Welcome to Quizzicle</h1>

<form action="/students" method="post">

  <div class="input-group input-group-lg col-md-4">
    <span class="input-group-addon" id="sizing-addon1"></span>
    <input type="text" class="form-control" name="first_name"  placeholder="First name" aria-describedby="sizing-addon1">
  </div>

  <div class="input-group input-group-lg col-md-4">
    <span class="input-group-addon" id="sizing-addon1"></span>
    <input type="text" class="form-control" name="last_name" placeholder="Last name" aria-describedby="sizing-addon1">
  </div>

  <div class="input-group input-group-lg col-md-4">
    <span class="input-group-addon" id="sizing-addon1"></span>
    <input type="text" class="form-control" name="email" placeholder="email" aria-describedby="sizing-addon1">
  </div>

  <div class="input-group input-group-lg col-md-4">
    <span class="input-group-addon" id="sizing-addon1"></span>
    <input type="password" class="form-control" name="password" placeholder="password" aria-describedby="sizing-addon1">
  </div>

  <input class="btn center btn-lg " type="submit" value="create student account">
</form>

