<div class="container">
  <div class="jumbotron">
    <h1>
    <%=@problem = @quiz.create_problem%> =
    </h1>
    <% if session[:id] %>
    <form class="answer" action="/quizzes/<%=@quiz.id%>" method="post">
      <input type="text" name="response">
      <input type="submit" value="answer">
    </form>
    <% else %>
    <form class="answer" action="/quizzes/<%=@quiz.id%>" method="post">
      <input type="text" name="response">
      <input type="submit" value="answer">
    </form>
    <% end %>
  </div>
</div>
