<div id="answer_wrapper">
<%=@problem = @quiz.create_problem%>
<% if session[:id] %>
  <form id="answer" action="/students/<%= session[:id] %>" method="post">
    <input type="text" name=<%="@problem.response"%>>
    <input type="submit" value="answer">
  </form>
<% else %>
  <form id="answer" action="/quizzes/<%=@quiz.id%>" method="post">
    <input type="text" name="response">
    <input type="submit" value="answer">
  </form>
<% end %>
</div>
