<table>
  <tr>
    <th>Class</th>
   <!--  <% Teacher.find(sesion[:id].classroom.each do |classroom|  %>
    <tr><h3><%=classroom.name%></h3></tr>
  <!--   <ul>
      <% classroom.student.each do |student| %>
      <li>
        <table>
          <tr>
            <td><%=student.name%></td>
            <% student.skill.each do |skill| %>
            <td><%=skill.name%></td>
            <td><%=skill.fluency%></td>
            <td>skill.accuracy</td>
            <% end %>
          </tr>
        </table>
        <% end %>
      </li>
    </ul> -->
    <% end  %> -->
  </tr>
</table>
