<h1 class="text-center">Would you like to try a quiz?</h1>
<form action="/quizzes/show" method="get">
  <select>
    <option name="math" >math</option>
    <option name="geography">geography</option>
  </select>
  <input class="btn center" type="submit" value="start quiz">
</form>



